h1, h2, h3, h4, h5 {
    font-family: 'Solway', serif;
}

h1.title {
    float: left;
    width: 270px;
    font-size: 2.5em;
    line-height: 1.2em;
    margin: 0 0 20px 0;
    font-family: 'Calistoga', sans-serif;
    color: lightcoral;
}

h1.title>a {
    color: lightcoral;
    text-decoration:none;
}

.subtitle-block {
    float: right;
    width: 400px;
    margin-top:10px;
}

.subtitle-block p {
    font-family: 'Solway', serif;
    margin:0;
    line-height: 1.3em;
    font-size: 1em;
}

.subtitle-block .subtitle {
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    .subtitle-block {
        float: left;
        clear: both;
        width: auto;
    }

  }
.main {
    float:left;
    clear:both;
}

body {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 700px;
    line-height: 1.6em;
    font-family: 'Open Sans', sans-serif;
}